name: Code Quality

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  # Можно запускать вручную из вкладки Actions
  workflow_dispatch:

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      # Запуск популярного линтера для Go, который объединяет множество анализаторов
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
